{% extends "base.html" %}

{% block title%}

    <h1>Blog Create</h1>
{%endblock%}

{% block body %}

<!-- <form method="POST">
    <div>
    {% csrf_token %}

    <input placeholder="author-name" type="text">
    <input placeholder="title" type="text">
    <textarea placeholder="content" name="" id="" cols="30" rows="10"></textarea>
    <button>Create</button>
</form>
</div> -->
<!-- {{form.as_p}} -->
<form method="POST">
{% csrf_token %}
{% for field in form%}
<label>{{field.label}}</label>
{{field}}
{%endfor%}
<button>Create</button>
</form>



{% endblock %}

