<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
<footer >
        <div className="footer">
        <div className='footer__logo'>

    </div>
    <div className='footer__social'>
        <h2>Sosial şəbəkələrimiz:</h2>
        <div>
            <a href="https://instagram.com/apa.enactus?igshid=MzRlODBiNWFlZA=="><img src='' alt="" />Instagram</a>
            <a href="https://www.facebook.com/profile.php?id=100010435842152&mibextid=ZbWKwL"><img src='' alt="" />Facebook</a>
           
        </div>
    </div>
  
    <div className='footer__links'>
        <h2>Keçidlər</h2>
        <ul>
        <li><a href="">Ana səhifə</a></li>
        <li><a href="">Haqqımızda</a></li>
        <li><a href="">Layihələrimiz</a></li>
        <li><a href="">Bizə qoşul </a></li>
        <li><a href="">Qalereya</a></li>
        </ul>
    </div>
    <div className='footer__contact'>
        <h1>Əlaqə:</h1>
        <h2>apaenactus@gmail.com</h2>
        <h2> +994553892030</h2>
        <h2>74 Lermontov küçəsi , Bakı</h2>
    </div>
    
    </div>

</footer>
    
</body>
</html> -->