<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>leyla</h1>
    {% for product in products%}
    <ul>
        <li>{{product.name}}--{{product.total_price}}--{% if product.description %} {{product.description}} {% else %} "No description" {% endif %}</li>
       
    </ul>
    {% endfor %}
    
   
</body>
</html>